<template>
  <div class="home">
    <ProductList/>
    <br>
    <hr>
    <br>
    <ShoppingCart/>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import ProductList from '@/components/ProductList.vue';
import ShoppingCart from '@/components/ShoppingCart.vue';

@Component({
  components: {
    ProductList,
    ShoppingCart
  },
})
export default class Home extends Vue {

}
</script>
