<template>
  <div class="hello">
    <h1>Product List</h1>
    <ul>
      <li v-for="product in products">
        {{product.title}} - {{product.price}} - {{product.inventory}}
        <button
          :disabled="!product.inventory >0"
          @click="addProductToCart(product)"
        >Add</button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

interface Product {
  id: number;
  title: String;
  price: number;
  inventory: number;
}

@Component
export default class ProductList extends Vue {
  private products = this.$store.state.products;

  addProductToCart(product: Product) {
    this.$store.dispatch("addProductToCart", product);
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
