<template>
  <div>
    <h1>Shopping Cart</h1>
    <ul>
      <li
        v-for="product in productsCart"
      >{{product.title}} - {{product.price}} - {{product.inventory}}</li>
    </ul>
    <p>Total: {{total}}</p>
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class ShoppingCart extends Vue {
  private productsCart = this.$store.state.productsCart;

  get total() {
    return this.$store.getters.cartTotal;
  }
}
</script>
